@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Funciones, variables y mixins de Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Paleta de colores personalizada

$link-color: $light;
$link-hover-color: $cyan-200;
$font-family-sans-serif: "Lato", "Roboto";
$letter-spacing: 0.03rem;


// Importa Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// header {
//     background-color: $primary-color;
// }

.nav-link {
    letter-spacing: $letter-spacing;
}

.bi {
    color: $light;
    font-size: 2rem;
}

.bi.bi-search{
    font-size: 1rem;
    padding: 0.3rem;
    color: $primary;
}

button.search_btn{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-color: $blue-300;
    
}

#search-input{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 25rem;
}
